<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SeminarskiProdavnica 2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Controller</display-name>
    <servlet-name>Controller</servlet-name>
    <servlet-class>controllers.Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletKategorije</display-name>
    <servlet-name>ServletKategorije</servlet-name>
    <servlet-class>controllers.ServletKategorije</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletKategorije</servlet-name>
    <url-pattern>/ServletKategorije</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletForma</display-name>
    <servlet-name>ServletForma</servlet-name>
    <servlet-class>controllers.ServletForma</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletForma</servlet-name>
    <url-pattern>/ServletForma</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletAdmin</display-name>
    <servlet-name>ServletAdmin</servlet-name>
    <servlet-class>controllers.ServletAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAdmin</servlet-name>
    <url-pattern>/ServletAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletRacun</display-name>
    <servlet-name>ServletRacun</servlet-name>
    <servlet-class>controllers.ServletRacun</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRacun</servlet-name>
    <url-pattern>/ServletRacun</url-pattern>
  </servlet-mapping>
</web-app>